.logo{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;

}

.image-container {
    position: relative;
    display: inline-block;
  }

  .image {
      display: block;
      height: auto;
      aspect-ratio: 3/3;
      object-fit: cover;
  }

  .location {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0px;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card-container .card{
    margin: 10px;
    background-color: rgba(49, 106, 49, 0.797);
  }

  .tipo{
    text-align: center;
    font-size: 25px;
    ;

  }

  .direccion .location{
    background-color: black;
  }

  .card .titulo{
    font-size: 25px;
  }

  .list .edad {
    background-color: rgba(200, 200, 200, 0.76);
  }

  .list .genero{
    background-color: rgba(49, 106, 49, 0.797);
  }

  .list .esterilizado{
    background-color: rgba(200, 200, 200, 0.76);
  }
